<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ titre }}</title>
    </head>
    <body>
        <h1>{{ titre }}</h1>
        <img src="https://s2.qwant.com/thumbr/0x0/f/a/57d51484b1385db3669709981b4e0d/b_1_q_0_p_0.jpg?u=http%3A%2F%2Fwww.unixstickers.com%2Fimage%2Fcache%2Fdata%2Fstickers%2Fflask%2FFlask.sh-600x600.png&q=0&b=1&p=0&a=1" title="Superbe image" />
        <ul>
        {% for mot in mots %}
            <li>{{ mot }}</li>
        {% endfor %}
        </ul>
    </body>
</html>


